[user]
	name = Michaël Zasso
	email = targos@protonmail.com
	signingkey = 5AE15600
[color]
	ui = true
[http]
	cookiefile = ~/.gitcookies
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
[push]
	default = simple
[help]
	autocorrect = 1
[pull]
	merge = true
	ff = only
[init]
	defaultBranch = main

# Mac-specific
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
